<div class="card border border-dark border-3 rounded bg-success">
  <div class="card-body">
    <h1 class="text-light text-center">Agregar Producto</h1>
  </div>
</div>

<br>

<div id="errorMsg"></div>

<div class="card border border-dark border-3 rounded">
  <div class="card-body">
    <form id="productForm" class="h-2 p-5" method="post" name="productos">

      <div class="form-group ">
        <label for="titulo"><b>Title</b></label>
        <input type="text" placeholder="Fender American Stratocaster" id="titulo" name="titulo" class="form-control">
      </div>

      <div class="form-group">
        <label for="precio"><b>Price</b></label>
        <input type="number" placeholder="899.99" id="precio" name="precio" class="form-control">
      </div>

      <div class="form-group">
        <label for="descripcion"><b>Descripcion</b></label>
        <input type="text" placeholder="Guitarra electrica" id="descripcion" name="descripcion" class="form-control">
      </div>

      <div class="form-group">
        <label for="code"><b>Code</b></label>
        <input type="text" placeholder="abc005" id="code" name="code" class="form-control">
      </div>

      <div class="form-group">
        <label for="stock"><b>Stock</b></label>
        <input type="number" placeholder="50" id="stock" name="stock" class="form-control">
      </div>
      <div class="form-group">
        <label for="thumbnail"><b>thumbnail</label>
        <input type="text" placeholder="https://muzikercdn.com/uploads/products/789/78991/main_9a486311.jpg"
          id="thumbnail" name="thumbnail" class="form-control">
      </div>

      <button class="btn btn-success mt-4">Agregar</button>

    </form>

    

    <br>
  </div>
</div>



<div class="card border border-dark border-3 rounded bg-danger mt-3">
  <div class="card-body">
    <h1 class="text-light text-center">Eliminar Producto</h1>
  </div>
</div>

<div class="card border border-dark border-3 rounded mt-3">
  <div class="card-body">
    <form id="productForm2" class="h-2 p-5" method="post" name="productos">

      <div class="form-group2">
        <label for="id"><b>ID</b></label>
        <input type="text" placeholder="50" id="id" name="id" class="form-control2">
      </div>
      <button class="btn btn-danger mt-4">Eliminar</button>
    </form>
  </div>
</div>



<div class="card bg-primary border border-dark border-3 rounded mt-4">
  <div class="card-body">
    <h1 class="text-center text-light">Productos</h1>
  </div>
</div>


<div class="entry mt-4">
  {{#if productos}}
  <div class="  p-1 border border-dark border-3 rounded">
    <table class="  table table-resposive ">
      <thead class="thead-dark text-light bg-primary">
        <tr>
          <th scope="col">id</th>
          <th scope="col">Nombre</th>
          <th scope="col">Precio</th>
          <th scope="col">Stock</th>
          <th scope="col">Imagen</th>
        </tr>
      </thead>
      <tbody id="prodDisplay">
        {{#each productos}}
        <tr class="table">
          <th>{{ this.id }}</th>
          <td>{{ this.titulo }}</td>
          <td>{{ this.precio }}</td>
          <td>{{ this.stock }}</td>
          <td><img src="{{ this.thumbnail }}" width="50"></td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    {{else}}
    <br>
    <h3> No hay ningún producto agregado. </h3>
    {{/if}}
  </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/main.js"></script>
<script src="/Controllers/ProductManagerMongo.js"></script>